// COLORS
$white: #fff;
$black: #000;
$dark-gray: #131313;
$light-gray: #3e3e3e;
$green: #0c2a12;
$light-green: #2fd159;
$red: #340d0b;
$light-red: #d3322b;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: $black;
	color: $white;
	font-family: "Big Shoulders Stencil Display", cursive;
}

.stopwatch {
	padding: 5rem 0;
	height: 100vh;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		margin: 0 auto;
		padding: 0 3rem;
		width: 100%;
		max-width: 1220px;
	}

	h1 {
		margin-bottom: 2.2rem;
		font-size: 5.2rem;
	}

	&__timer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24rem;
		height: 24rem;
		margin: 2.2rem auto 2.2rem;
		padding: 5rem;
		color: $white;
		font-size: 3.4rem;
		border-radius: 50%;
		border: 1px solid $light-green;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;

		@media screen and (min-width: 768px) {
			max-width: 50%;
			margin-top: 5.2rem;
		}

		// @media screen and (min-width: 1024px) {
		// 	flex-direction: row;
		// 	justify-content: space-evenly;
		// }

		.btn {
			display: inline-block;
			position: relative;
			// width: 100%;
			width: 8rem;
			height: 8rem;
			padding: 1rem;
			font-size: 2.6rem;
			font-family: inherit;
			border-radius: 50%;
			border: none;
			cursor: pointer;

			@media screen and (min-width: 768px) {
				// max-width: 45%;
			}

			@media screen and (min-width: 1024px) {
				// max-width: 30%;
				margin: 0 !important;
			}

			// &:last-of-type {
			// 	margin: 0 auto;
			// }

			// &:not(:last-of-type) {
			// 	margin-bottom: 1rem;

			// 	@media screen and (min-width: 1024px) {
			// 		margin-bottom: 0;
			// 	}
			// }

			&-start {
				color: $light-green;
				background-color: $green;

				&:hover {
					background-color: rgba($green, 0.5);
				}
			}

			&-stop {
				display: none;
				color: $light-red;
				background-color: $red;

				&:hover {
					background-color: rgba($red, 0.5);
				}
			}

			&-reset,
			&-lap {
				color: $white;
				background-color: $light-gray;

				// &:active,
				// &:focus,
				&:hover,
				&:disabled {
					background-color: $dark-gray;
				}
			}

			&-reset {
				display: none;
			}
		}
	}
}
